--index-url https://download.pytorch.org/whl/cu118
--extra-index-url https://pypi.org/simple

flask==3.0.3
pymongo==4.10.1
dotenv==0.9.9
pyjwt==2.9.0
opencv-python==4.11.0.86
numpy
ultralytics
torch
torchvision
torchaudio
